$title
$symmetry c3v
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
p  1-3,5-8                                                                     \
   basis =p def-SV(P)                                                          \
   jbas  =p def-SV(P)
h  4,9-10                                                                      \
   basis =h def-SV(P)                                                          \
   jbas  =h def-SV(P)
$basis    file=basis
$scfmo   file=mos
$closed shells
 a1      1-17                                   ( 2 )
 a2      1-3                                    ( 2 )
 e       1-17                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore      500
$rij
$jbas    file=auxbasis
$dft
    functional   b-p
    gridsize   m3
$scfconv   7
$rundimensions
   natoms=10
   nbf(CAO)=139
   nbf(AO)=132
$actual step      dscf
$last SCF energy change = -.33643983E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00000000000005    y    -0.00000000000001    z     0.88409297940989    a.u.
   | dipole | =    2.2471571930  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.75609246756949E-06
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-2390.781033462    -5207.568612988     2027.444512558    -159.3539783863    -4.738358731080     953.4354040849

$les all 2

$end
