$lastdiag
$freeze
implicit core= 14 virt= 0
$rundimensions
   natoms=25
   nbf(CAO)=288
   nbf(AO)=274
$energy    file=energy
$scfdump
$drvopt
cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$maxcor   1500 MiB  per_core
$forceupdate
ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$subtitle
GEO,CC2/RI,charge 0,c1,mixed basis set,GEO_OPT
$dipole from ricc2
  x    -1.50846885120114    y    -0.06780287851535    z    -0.72180201369110    a.u.
   | dipole | =    4.2540028409  debye
$denconv    1d-7
$ricc2
cc2 geoopt model=cc2
$scfiterlimit    100
$coord    file=coord
$thime    5
$scfconv    7
$charge from dscf
          0.000 (not to be modified here)
$forceinit on
   diag=default
$scforbitalshift    automatic=.1
$grad    file=gradient
$interconversion    off
   qconv=1.d-7
   maxiter=25
$optimize
 internal on
 redundant on
 cartesian off
 global off
$symmetry    c1
$tmole
$fermi     tmstrt=300.00 tmend=150.00 tmfac=0.98 hlcrt=0.1 stop=0.001
$basis    file=basis
$scfmo   file=mos
$title    job_GEO_13
$redundant    file=coord
$atoms
o 1,20 \
   cbas = o def2-QZVPP                     \
   basis = o 6-311G**
n 2-6 \
   cbas = n def2-QZVPP                     \
   basis = n 6-311G**
h 14-19,21-25 \
   cbas = h def2-QZVPP                     \
   basis = h 6-31G*
c 7-13 \
   cbas = c def2-QZVPP                     \
   basis = c 6-311G**
$coordinateupdate
dqmax=0.3
   interpolate  on
   statistics    5
$scfdamp     start=0.700 step=0.050 min=0.100
$operating system    unix
$thize    0.10000000E-04
$scfintunit
unit=30       size=0        file=twoint
$forceapprox    file=forceapprox
$cbas    file=auxbasis
$scfdiis
$last SCF energy change = 0.16085962E-05
$last MP2 energy change= 0.14550483E-06
$excitation_energies_ADC(2)__1^a___ file=exstates
$t2_norm_of_re0_ADC(2)__1^a___ file=exstates
$<le0|re0>-overlap_ADC(2)__1^a___ file=exstates
$<le01|re01>-overlap_ADC(2)__1^a___ file=exstates
$<le02|re02>-overlap_ADC(2)__1^a___ file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____1 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____2 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____3 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____4 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____5 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____6 file=exstates
$t2_norm_of_le0_CC2_____1^a___ file=exstates
$<le0|re0>-overlap_CC2_____1^a___ file=exstates
$<le01|re01>-overlap_CC2_____1^a___ file=exstates
$<le02|re02>-overlap_CC2_____1^a___ file=exstates
$tranprop_CC2_______1^a_____0_to_1^a_____1 file=exstates
$tranprop_CC2_______1^a_____0_to_1^a_____2 file=exstates
$tranprop_CC2_______1^a_____0_to_1^a_____3 file=exstates
$tranprop_CC2_______1^a_____0_to_1^a_____4 file=exstates
$excitation_energies_CCS_____1^a___ file=exstates
$excitation_energies_CC2_____1^a___ file=exstates
$t2_norm_of_re0_CC2_____1^a___ file=exstates
$last step     ricc2
$last CC2 energy change= 0.28732572E-12
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$closed shells
 a       1-52                                   ( 2 )
$orbital_max_rnorm 0.27428079689319E-05
$end
