$coord file=coord
$atoms
basis = def2-TZVP
$ricc2
geoopt model=mp2
$denconv 1d-7
$actual step      dscf
$basis file=basis
$symmetry c1
$closed shells
 a       1-54                                   ( 2 )
$scfmo    file=mos
$end
