$maxcor    800 MiB  per_core
$coord    file=coord
$scfconv    6
$thize    0.10000000E-04
$forceinit on
   diag=default
$scforbitalshift    automatic=.1
$soes all    6
$rundimensions
dim(fock,dens)=101566
   natoms=19
   nshell=148
   nbf(CAO)=448
   nbf(AO)=388
   dim(trafo[SAO<-->AO/CAO])=568
   rhfshells=1
$cdspectrum    nm
$atoms
n 5 \
   basis = n def2-TZVPD
c 1-4,6-10 \
   basis = c def2-TZVPD
h 11-19 \
   basis = h def2-SV(P)
$scfintunit
unit=30       size=0        file=twoint
$cosmo_out    file=job_notRun_1.cosmo
$lastdiag
$rpacor    640
$dft
 functional m062x
 gridsize m3
$basis    file=basis
$operating system unix
$forceapprox    file=forceapprox
$thime    5
$spectrum    nm
$tmole
$optimize
 internal off
 redundant off
 cartesian on
 global off
$symmetry    c1
$soes
all    6
$drvopt
cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$scfmo   file=mos
$scfiterlimit    30
$scfdamp     start=0.700 step=0.050 min=0.100
$scfdump
$scfinstab    rpas
$freeze
implicit core= 10 virt= 0
$subtitle
SP,DFT/no-RI,M062X,charge 0,c1,mixed basis set,EX-STATE
$scfdiis
$lock off
$orbital_max_rnorm 0.30700851946902E-03
$last SCF energy change = -403.07068
$charge from dscf
          0.000 (not to be modified here)
$title
test
$closed shells
 a       1-35                                   ( 2 )
$energy    file=energy
$grad    file=gradient
$last step     escf
$end
