$lastdiag
$freeze
implicit core= 16 virt= 0
$rundimensions
   natoms=27
   nbf(CAO)=631
   nbf(AO)=551
$energy    file=energy
$scfdump
$drvopt
cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$maxcor    500 MiB  per_core
$forceupdate
ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$subtitle
GEO,MP2/RI,charge 1,c1,mixed basis set,GEO_OPT
$denconv    1d-7
$dipole from ricc2
  x    -1.05693332155079    y    -6.34673681109291    z     1.95859891081059    a.u.
   | dipole | =   17.0950108446  debye
$ricc2
mp2 geoopt model=mp2
$scfiterlimit    900
$coord    file=coord
$thime    5
$scfconv    7
$charge from dscf
          1.000 (not to be modified here)
$forceinit on
   diag=default
$scforbitalshift    automatic=.1
$grad    file=gradient
$ecp    file=basis
$interconversion    off
   qconv=1.d-7
   maxiter=25
$optimize
 internal on
 redundant on
 cartesian off
 global off
$symmetry    c1
$tmole
$basis    file=basis
$scfmo   file=mos
$title    Cyt2H1opt
$redundant    file=coord
$atoms
o 8,21 \
   cbas = o def2-TZVP                     \
   basis = o def2-TZVP
n 2,4,9,15,17,22 \
   cbas = n def2-TZVP                     \
   basis = n def2-TZVP
h 1,10-14,23-27 \
   cbas = h def2-SVP                     \
   basis = h def2-SVP
c 3,5-7,16,18-20 \
   cbas = c def2-TZVP                     \
   basis = c def2-TZVP
$coordinateupdate
dqmax=0.3
   interpolate  on
   statistics    5
$scfdamp     start=0.700 step=0.050 min=0.100
$operating system    unix
$thize    0.10000000E-04
$scfintunit
unit=30       size=0        file=twoint
$forceapprox    file=forceapprox
$cbas    file=auxbasis
$scfdiis
$last SCF energy change = 0.45950400E-05
$excitation_energies_CCS_____1^a___ file=exstates
$excitation_energies_ADC(2)__1^a___ file=exstates
$t2_norm_of_re0_ADC(2)__1^a___ file=exstates
$<le0|re0>-overlap_ADC(2)__1^a___ file=exstates
$<le01|re01>-overlap_ADC(2)__1^a___ file=exstates
$<le02|re02>-overlap_ADC(2)__1^a___ file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____1 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____2 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____3 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____4 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____5 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____6 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____7 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____8 file=exstates
$last MP2 energy change= -.45205001E-05
$closed shells
 a       1-58                                   ( 2 )
$last step     ricc2
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.22800560265985E-04
$end
