$lastdiag
$rij
$freeze
implicit core= 14 virt= 0
$rundimensions
   natoms=25
   nbf(CAO)=559
   nbf(AO)=489
$energy    file=energy
$scfdump
$rpacor    80
$ricore    20
$drvopt
cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$maxcor     80 MiB  per_core
$forceupdate
ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$dft
 functional b3-lyp
 gridsize m4
$soes all    4
$cdspectrum    nm
$spectrum    nm
$subtitle
SP,DFT/RI,B3-LYP,charge 0,c1,mixed basis set,EX-STATE
$dipole from ridft
  x    -1.56199587227275    y    -0.17110867395007    z    -0.92321073733973    a.u.
   | dipole | =    4.6323129314  debye
$scfiterlimit    300
$coord    file=coord
$jbas    file=auxbasis
$thime    5
$scfconv    6
$charge from ridft
          0.000 (not to be modified here)
$forceinit on
   diag=default
$scforbitalshift    automatic=.1
$grad    file=gradient
$scfinstab    rpas
$interconversion    off
   qconv=1.d-7
   maxiter=25
$optimize
 internal off
 redundant off
 cartesian on
 global off
$symmetry    c1
$tmole
$fermi     tmstrt=300.00 tmend=150.00 tmfac=0.98 hlcrt=0.1 stop=0.001
$basis    file=basis
$scfmo   file=mos
$title    MP2DLPdtzvpVE
$atoms
o 1,20 \
   jbas = o def2-TZVP                     \
   basis = o def2-TZVP
n 2-6 \
   jbas = n def2-TZVP                     \
   basis = n def2-TZVP
h 14-19,21-25 \
   jbas = h def2-SVP                     \
   basis = h def2-SVP
c 7-13 \
   jbas = c def2-TZVP                     \
   basis = c def2-TZVP
$marij
$coordinateupdate
dqmax=0.3
   interpolate  on
   statistics    5
$scfdamp     start=0.700 step=0.050 min=0.100
$operating system    unix
$thize    0.10000000E-04
$scfintunit
unit=30       size=0        file=twoint
$forceapprox    file=forceapprox
$scfdiis
$last SCF energy change = -697.47731
$last MP2 energy change= -.34860209E-06
$tranprop_ADC(2)____1^a_____0_to_1^a_____5 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____6 file=exstates
$excitation_energies_CCS_____1^a___ file=exstates
$excitation_energies_ADC(2)__1^a___ file=exstates
$t2_norm_of_re0_ADC(2)__1^a___ file=exstates
$<le0|re0>-overlap_ADC(2)__1^a___ file=exstates
$<le01|re01>-overlap_ADC(2)__1^a___ file=exstates
$<le02|re02>-overlap_ADC(2)__1^a___ file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____1 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____2 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____3 file=exstates
$tranprop_ADC(2)____1^a_____0_to_1^a_____4 file=exstates
$last step     escf
$closed shells
 a       1-52                                   ( 2 )
$orbital_max_rnorm 0.10492454745556E-03
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-697.4773051573    -2808.165149778     1250.256446207    -71.52905375836    -4.249138495677     936.2095906681
$end
